fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
python-multipart
google-auth
google-api-python-client
resend
bcrypt==4.0.1